body,
html {
  background: url("/assets/pictures/homescreen.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  max-width: 100%;
}

.navbar,
.transparent .navbar-inverse .navbar-inner {
  transition: all 0.5s ease;
  background: rgb(0, 0, 0);
}

.navTrans {
  transition: all 0.5s ease;
  background: rgba(255, 255, 255, 0);
}

.footer {
  position: flex;
  bottom: 0;
  width: 100%;
  line-height: 2rem;
  background: rgb(0, 0, 0);
  -webkit-transition: width 2s; /* Safari */
  transition: width 4s;
}

.grow {
  transition: all 0.2s ease-in-out;
  padding: 0.2rem;
}
.grow:hover {
  transform: scale(1.5);
}

#Home {
  height: 100vh;
}

#About,
#CSD,
#Composition,
#Contact {
  padding-top: 100px;
  padding-bottom: 69px;
  background-color: rgb(255, 255, 255);
  max-width: 75%;
  margin-left: 12.5%;
}

::-webkit-scrollbar {
  width: 0px;
}

#moreArrows{
  position: absolute;
  bottom: -60px;
  left: 75px;
  z-index: 3;
  padding: 0 10px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  line-height: 0;
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  transform: translatex(-50%);
}